__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.ipynb_checkpoints/
*.egg

# Artifacts (keep directory structure via .gitkeep)
artifacts/checkpoints/*.pt
artifacts/exports/
#artifacts/results/
artifacts/runs/
artifacts/vocab/*.json
.test_artifacts/*
notebooks/vitis_llvm_ir/*

# Local env
.venv/
venv/
.env
